<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('/Users/Alex/MaximumMunch/views/partials/head.ejs') %>
  </head>
  <body>
    <%- include('/Users/Alex/MaximumMunch/views/partials/navbar.ejs') %>
    <h1>Here are your owned restaurants</h1>
    <% for(let rest of ownedRest.restOwned) {%>
    <a href="/restaurants/<%=rest._id%> ">name:<%= rest.name %></a>
    <p>speciality:<%= rest.speciality%></p>
    <p><% } %></p>
  </body>
</html>
