<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../views/partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/ownedRest.css" />
  </head>
  <body>
    <%- include('../views/partials/navbar.ejs') %> <% for(let rest of
    ownedRest.restOwned) {%>
    <div class="container">
      <a href="/restaurants/<%=rest.id%>">
        <div class="card mb-3">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><%=rest.name%></h5>
            <p class="card-text">Speciality:<%= rest.speciality%></p>
          </div>
        </div>
      </a>
    </div>
    <p><% } %></p>
    <%- include('../views/partials/scripts.ejs') %>
  </body>
</html>
