<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Page</title>
  </head>
  <body>
    <h3>Name: <%=findRest.name%></h3>
    <h3>Location: <%=findRest.location%></h3>
    <h3>Speciality: <%=findRest.speciality %></h3>
    <h3>Rating: <%=findRest.rating %></h3>
    <%for (const selection in findRest.foods){%>
    <h3>Food Name:<%=findRest.foods[selection].name %></h3>
    <h3>Food Price:<%=findRest.foods[selection].price %></h3>
    <%} %>

    <form action="/restaurants/<%=findRest._id%>/edit">
      <button>Edit Restaurant</button>
    </form>

    <form action="/restaurants/<%=findRest._id%>/addFood">
      <button>addFood</button>
    </form>
  </body>
</html>
