<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Show Page</title>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
  integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/stylesheets/showPage.css" />
<head>
  </head>
  <body>
    <%- include('../views/partials/navbar.ejs') %>
    <div class="header">
     <img src="<%=findRest.photo%>" alt="bannerImage">
    </div>
    <div id="restaurantInfoSection">
    <h5>Name: <%=findRest.name%></h3>
    <h5>Location: <%=findRest.location%></h3>
    <h5>Speciality: <%=findRest.speciality %></h3>
    <h5>Rating: <%=findRest.rating %></h3>
      </div>

      <div id="foodSelection">
      <div class="sidebar">
        <%for (const category in sortedFoodObject){%> 
     <div id="list-example" class="list-group">
  <a class="list-group-item list-group-item-action" href="#<%=category%>"><%=category%></a>
</div>
<% } %> 
</div>
<!-- template for not being an owner and not signed in -->
     <%if(!ownerState&&!state || ownerState===true&&ownsRest===false){%>
<div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
 
  <%for (const category in sortedFoodObject){%>
    <div class="sectionHeaders">
      <h4 id="<%=category%>"><%=category%></h4>
    </div>
    <%for(const selection in sortedFoodObject[category]){ %>
   <div class="card mb-3" id="<%=sortedFoodObject[category][selection].foodCategory%>"style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="<%=sortedFoodObject[category][selection].foodPhoto%>" alt="foodPhoto">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=sortedFoodObject[category][selection].name%></h5>
        <p class="card-text"> Price: $<%=sortedFoodObject[category][selection].price %>.</p>
        <p class="card-text">Category:<%=sortedFoodObject[category][selection].foodCategory%> </p>
        <p class="card-text"><small class="text-muted">Food description</small></p>
      </div>
    </div>
  </div>
</div>
<% } %> 
  <% } %>
</div>
<% } %> 
    <!--  -->
    <% if(!ownerState&&state){%>
  <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    
  <%for (const category in sortedFoodObject){%>
    <div class="sectionHeaders">
      <h4 id="<%=category%>"><%=category%></h4>
    </div>
    <%for(const selection in sortedFoodObject[category]){ %>
      <div class="card mb-3" id="<%=sortedFoodObject[category][selection].foodCategory%>"style="max-width: 540px;">
      <div class="row no-gutters">
      <div class="col-md-4">
      <img src="<%=sortedFoodObject[category][selection].foodPhoto%>" alt="foodPhoto">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=sortedFoodObject[category][selection].name%></h5>
        <p class="card-text"> Price: $<%=sortedFoodObject[category][selection].price %>.</p>
        <p class="card-text">foodCategory:<%=sortedFoodObject[category][selection].foodCategory%> </p>
          <form method="POST" action="/foodCart/<%=sortedFoodObject[category][selection].id%>">
        <button type="submit" class="btn btn-secondary">add to cart</button>
      </form>
      </div>
    </div>
  </div>
</div>
      <% } %> 
  <% } %>
</div>
 <% } %>
    <br />
    <!-- is owner account and owns restaurant -->
    <% if(ownerState===true&&ownsRest===true){%> 
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    <%for (const category in sortedFoodObject){%>
      <div class="sectionHeaders">
      <h4 id="<%=category%>"><%=category%></h4>
        </div>  
    <%for(const selection in sortedFoodObject[category]){ %>
          <div class="card mb-3" id="<%=sortedFoodObject[category][selection].foodCategory%>"style="max-width: 540px;">
        <div class="row no-gutters">
        <div class="col-md-4">
      <img src="<%=sortedFoodObject[category][selection].foodPhoto%>" alt="foodPhoto">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=sortedFoodObject[category][selection].name%></h5>
        <p class="card-text"> Price: $<%=sortedFoodObject[category][selection].price %>.</p>
        <p class="card-text">Category:<%=sortedFoodObject[category][selection].foodCategory%> </p>
          <form
        method="POST"
        action="/restaurants/<%=findRest.id%>/foods/<%=sortedFoodObject[category][selection].id%>?_method=DELETE"
      >
        <button type="submit" class="btn btn-secondary">Delete</button>
      </form>
      <form method="GET" action="/restaurants/<%=findRest.id%>/editFood/<%=sortedFoodObject[category][selection].id%>">
        <button type="submit" class="btn btn-secondary">Edit Food Item</button>
      </form>
      </div>
    </div>
  </div>
</div>
<% } %> 
</div>
  <% } %>
<div class="ownerSect">
    <form action="/restaurants/<%=findRest.id%>/addFood">
      <button class="btn btn-dark">Add new food object</button>
    </form>
    <form action="/restaurants/<%=findRest.id%>/edit">
      <button class="btn btn-dark">Edit Restaurant Information Here</button>
    </form>
    <form action="/index"><button class="btn btn-dark">Back to Index</button></form>
      <% } %> 
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
