<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <title>Index</title>
    <%- include('/Users/Alex/MaximumMunch/views/partials/head.ejs') %>
  </head>
  <body>
    <%- include('/Users/Alex/MaximumMunch/views/partials/navbar.ejs') %>
    <h1>Here are all the chinese retaurants</h1>
    <h1>chinese food</h1>
    <%for (const food in findRest){ %>
    <div class="card mb-3">
      <a href="/restaurants/<%=findRest[food]._id%>">
        <img src="<%=findRest[food].photo%> " class="card-img-top" alt="..." />
      </a>
      <div class="card-body">
        <h5 class="card-title"><%=findRest[food].name%></h5>
        <p class="card-text">
          Location: <%=findRest[food].location%> Speciality:
          <%=findRest[food].speciality%> Rating: <%=findRest[food].rating%>
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <% } %>
  </body>
</html>
